/* Waarom zijn focus-stijlen belangrijk? Niet uitzetten! */

/* Focus-within - Geef het label een andere kleur! */

label:focus-within {
    color: red;
}

/* Tonen dat een veld nog niet is ingevuld met placeholder-shown */
label:has(input) input:placeholder-shown {
    background-color: rebeccapurple;
}

/* Placeholder shown? Maak een form label animatie: https://blog.surjithctly.in/creating-a-floating-label-input-form-using-tailwindcss-no-javascript  */

.form {
    span {
        display: block;
        transition: transform 0.3s ease-in-out;
        transform: translateY(51px) translateX(19px);
    }
}

label:has(input:not(:placeholder-shown)) span {
    transition: transform 0.3s ease-in-out;

    transform: translateY(5px) translateX(0px);
}

/* Focus-visible - Maak de focus outline duidelijker! */

.focus-only:focus {
    outline: 5px solid red;
}
